<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T-Fusion</title>
    <link rel="icon" type="image/png" href="images/logo.png" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script
      src="https://kit.fontawesome.com/089a52b9b0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- NAV BAR START -->
    <div class="nav-div" data-aos="fade-down" data-aos-duration="1000">
      <nav class="navbar">
        <div class="logo-div">
          <a href="#" class="logo-link"
            ><img class="logo" src="images/T-logo.png" alt="T-Fusion Logo"
          /></a>
        </div>
        <ul class="nav-content">
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/about" class="nav-link active">About</a></li>
          <li><a href="/register" class="nav-link">Register</a></li>
        </ul>
      </nav>
    </div>
    <!-- NAV BAR END -->

    <!-- ABOUT PAGE START -->
    <section class="about-section">
      <h1
        class="about-us"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        About Us
      </h1>
      <p
        class="about-content"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        In this pandemic, every learner is experiencing the online education
        system and hence some people face difficulties in adapting to this new
        online education system. People who are willing to learn need to adapt
        and focus in terms of education. So, for both students and tutors we
        have proposed the new T-Fusion android based mobile application. It is a
        free android application which will help students find a suitable tutor
        as per their needs and requirement. The application is an initiative to
        match the growth of education in recent times and find a way for
        students to find tutors by the use of technology.
      </p>
    </section>

    <footer data-aos="fade" data-aos-duration="1000" data-aos-delay="200">
      <p class="foot">© by T-Fusion. All rights reserved.</p>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 70,
        once: true,
      });
    </script>
  </body>
</html>
